<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bezatretailernew.bezat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.bezatretailernew.bezat.MyApplication"
        android:allowBackup="true"
        android:autoMirrored="true"
        android:icon="@drawable/app_new_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_new_logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.bezatretailernew.bezat.activities.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.OTP"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.ChooseLanguage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.OfferDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.FavouriteOffer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.GetCoupon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.BezatWinner"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.Prizes"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.ContactUs"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.Notifications"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.MyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.MyFavourite"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.TotalCoupons"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.MainHomeActivty"
            android:label="@string/title_activity_main_home_activty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/opposite" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.Homepage"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/HomePageTheme" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.AdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.Intro"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bezatretailernew.bezat.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.bezatretailernew.bezat.activities.MyMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>